extends ../layout

block content

    ul
        each object in objects
            li
              div
                  span schedule
                  a(href='/schedule/' + object._id ) ==>
                  span  ( #{object.startDate.toLocaleDateString()} -  #{object.endDate.toLocaleDateString()} )


    if user
        p User #{user.profile.name} logged in
    else
        p User not logged in

