extends ../layout

append headCss
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css')


block content
    //- Modal dialog box for item:
    .modal.fade(id="ItemModal", tabindex="-1", role="dialog")
        .modal-dialog.modal-lg
            .modal-content.col-md-10.col-sm-10.col-lg-10.col-xs-10
                .modal-header
                    button(type="button", class="close", data-dismiss="modal") x
                    h3 Resource
                .modal-body
                        form.form-horizontal
                            .form-group
                                    label(for="form-id") id:
                                    input.form-control(id="form-id",disabled, placeholder="id")
                            .form-group
                                    label(for="form-name") name:
                                    input.form-control(id="form-name", type="text", placeholder="Resource name")
                .modal-footer
                    button.btn.btn-default(type="Button") Save

    //- List template
    table(id="table").table.table-bordered.table-striped

        thead
            tr
                th Id
                th Name

        tfoot
            tr
                th Id
                th Name


    if user
        p User #{user.profile.name} logged in
    else
        p User not logged in


    button.btn.btn-primary(type="button", data-toggle="modal", data-target="#ItemModal") Launch


append scripts
    script(src='/js/lib/jquery-2.2.0.min.js')
    script(src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js')

    script.
        $(document).ready( function() {
            var table = $('#table').DataTable({
                "processing": true,
                "ajax": {
                    "url": "/resource",
                    "method": "GET",
                    "error": function( xhr, textStatus, error) {
                        console.log( textStatus )
                        console.log( error )

                    },
                    "dataSrc": ''

                },

                "columns": [
                    { data: "_id" },
                    { data: "name" }
                ]

            });
        })